.explore-pg-cont {
  min-height: 100px;
  width: 100%;
  background-color: indigo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-pg-cont > p {
  text-align: center;
  color: white;
  font-size: 5vw;
}

.ffonta {
  font-size: 1.4vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerrr {
  align-items: center;
}

.searchtxt {
  background: rgb(184, 179, 179);
  min-width: 100px;
}

.field input[type="text"] {
  font-size: 17px;
  width: 80%;
  background: #f1f1f1;
}

.multiselect {
  font-size: 14px;
}

.RGselectBox, .THselectBox {
  position: relative;
  margin-right: 25px;
  min-width: 300px;
}

.RGselectBox a, .THselectBox a {
  width: 100%;
  min-width: 300px;
}
.RGselectBox a > option, .THselectBox a > option{
  border: 1px indigo solid;
  text-align: left;
  padding-left: 7px;
  font-weight: normal !important;
  padding: 10px 15px;
}
.overSelect {
  position: absolute;
  min-width: 300px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.RGcheckboxes, .THcheckboxes  {
  display: none;
  position: absolute;
  max-height: 300px;
  left: 0;
  top: 0;
  border: 1px indigo solid;
  background-color: white;
  overflow: auto;
}

.RGcheckboxes label, .THcheckboxes label {
  display: block;
  text-align: initial;
  padding-bottom: 4px;
  min-width: 300px;
}

.RGcheckboxes label > input, .THcheckboxes label > input{
  height: 20px;
  width: 20px;
}

.RGcheckboxes label:hover, .THcheckboxes label:hover {
  background-color: gray;
}

.items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.itemssother {
  display: flex;
	flex-wrap: wrap;
}

.contacoonta {
  border-bottom: 1px solid black;
}

.items .item{
	flex: 1 0 200px;
  box-sizing: border-box;
  background: rgb(158, 126, 182);
  border: 1px rgb(117, 97, 121) solid;
  color: white;
  padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.itemssother .item {
  flex: 1 0 200px;
  box-sizing: border-box;
}

.keyyyys {
  width: 80%;
  min-height: 60px;
  margin: 0 auto;
  background-color: rgb(236, 226, 243);
  padding: 0 3px;
}

.clearAll:hover{
  color: blueviolet;
}

.list-cards {
  padding-top: 50px;
  width: 80%;
  max-height: auto;
  margin: 0 auto;
}

.list-cards > div > p {
  margin: 0;
  display: block;
  max-height: 100%;
  width: auto;
}

.list-cards > div > p > span {
  font: initial;
  color: black;
  display: block;
  font-size: 20px;
  line-height: 25px;
}


.list-cards > div {
  border: 1px solid gray;
  display: inline-block;
  width: 100%;
  margin-bottom: 2.5vw;
}

.respon-img {
  float: left !important;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: 250px;
  margin-right: 20px;
}