body {
    margin: 0;
}

#info-bar {
    height: 90px;
	width: 100%;
	margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#home-page {
    margin: 0 auto;
	width: 100%;
	height: 3000px;
	display: flex;
	flex-direction: column;
}

#top-programs {
    order: 1;
    height: 450px;
    border-top: 2px solid gray;
}

#learn-more-request {
    order: 2;
    height: 200px;
    border-top: 2px solid gray;
}

#partners {
    order: 3;
    height: 500px;
    border-top: 2px solid gray;
}

#enter-email {
    order: 4;
    height: 500px;
    border-top: 2px solid gray;
}

#how-we-work {
    order: 5;
    height: 650px;
    border-top: 2px solid gray;
}

#gift-card {
    order: 6;
    height: 400px;
    border-top: 2px solid gray;
}

#news {
    order: 7;
    height: 500px;
    border-top: 2px solid gray;
}

#footer {
    height: 30px;
	margin: 0 auto;
	background-color: black;
	bottom: 0;
	left: 0;
}

/* buttttonns */
.button-black {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button-black:hover {
    background-color: #8C65D3;
    color: white;
  }