body {
    margin: 0;
}

#info-bar {
    height: 86px;
	width: 100%;
	margin: 0 auto;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-side {
    order: 1;
    width: 35%;
    border-right: 1px solid indigo;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#logo {
    order: 1;
    width: 50%;
    border-right: 1px solid indigo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    order: 2;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-side{
    order: 2;
    width: 55%;
    border-left: 1px solid indigo;
    display: flex;
    align-items: center;
}

#info-side > a{
    text-decoration: none;
}

#home-page {
    margin: 0 auto;
	width: 100%;
	height: 3000px;
	background-color: #FFE6EE;
	display: flex;
	flex-direction: column;
}

#top-programs {
    order: 1;
    height: 450px;
    border-top: 2px solid white;
}

#learn-more-request {
    order: 2;
    height: 200px;
    border-top: 2px solid white;
}

#partners {
    order: 3;
    height: 500px;
    border-top: 2px solid white;
}

#enter-email {
    order: 4;
    height: 500px;
    border-top: 2px solid white;
}

#how-we-work {
    order: 5;
    height: 650px;
    border-top: 2px solid white;
}

#gift-card {
    order: 6;
    height: 400px;
    border-top: 2px solid white;
}

#news {
    order: 7;
    height: 500px;
    border-top: 2px solid white;
}

#footer {
    height: 30px;
	margin: 0 auto;
	background-color: black;
	bottom: 0;
	left: 0;
}


