body {
    margin: 0;
}

#info-bar {
    height: 90px;
	width: 100%;
	margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#home-page {
    margin: 0 auto;
	width: 100%;
	height: 3000px;
	display: flex;
	flex-direction: column;
}

#top-programs {
    order: 1;
    height: 530px;
    display: flex;
	flex-direction: column;
}

#learn-more-request {
    order: 2;
    height: 240px;
    width: 100%;
    background-color: whitesmoke;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.center-text-big {
    text-align: center;
    padding-right: 4.5em;
    padding-left: 4.5em;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2;
}

.center-text-small {
    text-align: center;
    padding-right: 4.5em;
    padding-left: 4.5em;
    font-weight: 400;
    line-height: 2;
}

#enter-email {
    order: 3;
    height: 250px;
    border-top: 2px solid gray;
    background-image: url("../photos/sign-up.jpg");
}

#how-we-work {
    order: 5;
    height: 650px;
    border-top: 2px solid gray;
}

#gift-card {
    order: 6;
    height: 400px;
    border-top: 2px solid gray;
}

#news {
    order: 7;
    height: 500px;
    border-top: 2px solid gray;
}

#footer {
    height: 30px;
	margin: 0 auto;
	background-color: black;
	bottom: 0;
	left: 0;
}

/* buttttonns */
.button-black {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button-black:hover {
    background-color: #8C65D3;
    color: white;
  }